@font-face {
  font-family: "Visby CF";
  src: url("/fonts/visbycf.woff2") format("woff2"),
    url("/fonts/visbycf.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: "Visby CF", sans-serif;
  font-weight: lighter;
  margin: 0px;
}

.icon {
  background-repeat: no-repeat;
  display: inline-block;
}
.icon.logo {
  background-image: url("../../public/icons/aise_logo.svg");
  width: 147px;
  height: 59px;
}
.icon.about {
  background-image: url("../../public/icons/about-image.svg");
  width: 424px;
  height: 344px;
}
